.search-by-category {
    background-color: blue;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cta-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;
    place-items: center; 
}

.view-all-restaurants-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
  
