@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$green: #4CAF50;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.buttons-together {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navigation-wrapper{
  background-color: $white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
